/* * {
  color: #ccc;
  font-size: 14px;
} */
.side-left {
  /* width: 265px; */
  border-right: 1px solid #ccc;
  /* height: 100%; */
}
.side-left h3 {
  transform: translate(-50%, -50%) rotate(180deg);
  writing-mode: vertical-rl;
  text-orientation: sideways;
  top: 50%;
  position: relative;
  left: 35%;
}

/* .show-more,
.show-more:hover {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.show-more .arrow-icon {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.owl-nav button {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc !important;
  border-radius: 50% !important;
  color: #ccc;
}

.owl-nav button:hover {
  background: #b27208 !important;
  color: #fff !important;
  border-color: #b27208 !important;
}
